@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    right: 10px;
    top: 5px;
}
.navbar{
 justify-content: flex-end;
}
.social ul li{
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    margin: 15px;
    align-items: flex-end;
}
.social ul{
    display: flex;
    position: absolute;
}

.li {
    list-style: none;
    float: left;
    margin-left: 10px;
    margin: 15px;
    align-items: flex-end;
}

.a {
    color: rgb(6, 61, 117);
        text-decoration: none;
        font-size: 17px;
        padding: 10px;
        font-family: 'poppins';
        font-weight: bold;
        margin-left: 2vh;
}

.a:hover {
    color: red;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

.container {
    display: flex;
    margin: 10vw;
    font-family: poppins;


}
.left{
    background:transparent;
    width: 40vw;
    z-index: 1;
    /* box-shadow: 10px 10px 10px gray; */
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact{
    padding: 3vw 3vw 3vw;
    font-size: large;
    color: rgb(6, 61, 117);
}
.right{
    background-color: rgb(232, 242, 245);
    width: 60vw;
    height: 95vh;
    margin-left: 20px;
    z-index: 1;
    box-shadow: 10px 10px 10px rgb(215, 214, 214);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.message{
    margin-top: 2vw;
    font-family: poppins;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(6, 61, 117);
    height: 5vh;
    padding: 5vw 5vw 0 5vw;
}
.form {
    font-family: poppins;
    height: 80vh;
    padding: 5vw;
    
}

.info{
    
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: poppins;
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: rgb(6, 61, 117); 
}
.info div{
    cursor: pointer;
}
.control {
    background: transparent;
    border: none;
    font-size: 16px;
    padding: .5rem .5rem;
    width: 100%;
    color: rgb(6, 61, 117);
}

.control::placeholder {
    font-size: small;
    font-family: poppins;
}

.form-label {
    display: block;
    font-size: small;
    color: grey;
    font-weight: bold;
    margin-bottom: 2px;
}

hr {
    width: 100%;
    border-width: 0;
    height: 2px;
    background-color: gray;
    margin-bottom: 2rem;
}

.btn {
    background: transparent;
    color: rgb(6, 61, 117);
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    font-family: poppins;
}

.btn:hover {
    color: dodgerblue;
    font-size: larger;
}

.dropdown-content {
    background-color: rgb(245, 245, 245);
    color: rgb(6, 61, 117);
}

option:hover {
    background-color: aqua;
}

#Textarea {
    height: 10vh;
}

#disclaimer {
    font-size: x-small;
}